<table class="table align-middle">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Image</th>
    <th scope="col">Title</th>
    <th scope="col">Category</th>
    <th scope="col">Price</th>
    <th scope="col">Rating</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td><img [ngSrc]="product.image" alt="image" width="50" height="50"></td>
    <td>{{ product.title | trim: 25 }}</td>
    <td><span class="badge text-bg-secondary">{{ product.category }}</span></td>
    <td>{{ product.price }} €</td>
    <td><i class="bi-star-fill"></i> {{ product.rating.rate }}</td>
  </tr>
  </tbody>
</table>
