<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<table class="table align-middle" *ngIf="!loading">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Image</th>
    <th scope="col">Title</th>
    <th scope="col">Category</th>
    <th scope="col">Price</th>
    <th scope="col">Rating</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td><div class="dashboard-list-product-image" [ngStyle]="{
    'background-image': 'url(' + product.image + ')'
    }"></div></td>
    <td>{{ product.title | trim: 25 }}</td>
    <td><span class="badge text-bg-secondary">{{ product.category }}</span></td>
    <td>{{ product.price | price: 'EUR' }}</td>
    <td><i class="bi-star-fill"></i> {{ product.rating.rate }}</td>
  </tr>
  </tbody>
</table>
