<h1 class="mt-5 mb-3">Products</h1>

<div class="d-flex gap-3 align-items-center mb-4" *ngIf="!category">
  <button class="btn btn-secondary" (click)="getProducts('men\'s clothing')">Men's clothing</button>
  <button class="btn btn-secondary" (click)="getProducts('jewelery')">Jewelery</button>
  <button class="btn btn-secondary" (click)="getProducts('electronics')">Electronics</button>
  <button class="btn btn-secondary" (click)="getProducts('women\'s clothing')">Women's clothing</button>
</div>

<div class="d-flex gap-3 align-items-center mb-4" *ngIf="category">
  <span>Category: "{{category}}"</span>
  <button class="btn btn-dark" (click)="resetFilters()"><i class="bi-x"></i></button>
</div>

<ng-container *ngIf="loading">
  <app-spinner></app-spinner>
</ng-container>

<ng-container *ngIf="!loading">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let product of paginatedProducts">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
  <div class="d-flex justify-content-end p-5">
    <button class="btn btn-secondary me-3" (click)="pageDown()" [disabled]="(start - limit) < 0">Previous</button>
    <button class="btn btn-secondary" (click)="pageUp()" [disabled]="(start + limit) >= total">Next</button>
  </div>
</ng-container>
